{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">North-East Handloom & Textiles Website!</h1>
      <p><b>Arts And Crafts Of Northeast India</b>
Northeast India is the home of a large number of tribes and sub-tribes. They have a vigorous craft tradition and every tribe excels in craftsmanship: this excellence manifests itself in the various products its member’s produces. The main art and crafts of each state of Northeast India are given below: <br><br>



<b>Arunachal Pradesh</b>

        Arunachal Pradesh has a vibrant craft tradition and every tribe excels at craftsmanship and their excellence manifests itself in the various products its member’s produces. The ambit of crafts includes- carpet making, masks, painted wood vessels, bamboo and cane crafts, weaving, woodcarvings, jewellery and other miscellaneous crafts. This includes- hand made pottery, brass cutting, silver works etc. they also make numerous articles with goat hair, ivory, boar’s tusks, beads of agate, and other stones as well as of brass and glass.


<br>
<b>Assam</b>

        Assam is predominantly agricultural and her people have excelled in a rich variety of arts and crafts. The panorama encompasses handloom weaving, cane and bamboo works, sitalpith, brass and bell metal works, ivory, wood-work, sholapith, pottery and fiber craft. Handloom weaving comprises the culture of endi, muga and mulberry silk.


<br>
<b>Manipur</b>

        Manipur has contributed to the richness and variety of Indian culture with its peculiar blend of tribal traditions and Vaishnavism. Of the numerous colourful crafts of Manipur, special mention may be made of their textiles, strong bell metal bowls, cane and bamboo and mats made of spongy reeds. Manipur is also well known for its gold and gold plated jewellery- earrings, necklace, armlets and bracelets. Beautiful dolls and toys of straw and clay are also made in Manipur.


<br>
<b>Meghalaya</b>

        Meghalaya is known for various art and crafts. Cane and bamboo holds a prime place. Artistic textile weaving and woodcarving is practiced in Garo hills. Silk weaving of Endi silk is very famous. Carpet weaving, ornaments, musical instruments are other especialities. But the unique craft of this state is Pineapple fiber articles a in which fiber from its leaves is utilized for making various types of nets, bags and purses. Meghalaya is culturally very rich in the area of dance and music. The different types of dances are Nohkjot, Mastieh, Shad wait, Shadynti etc.
<br>
<b>Mizoram</b>
        There are a number of craftsman and skilled artisans among the mizos. Their significant crafts include- weaving, bamboo and cane craft, pipes, jewellery and musical instruments. Weaving is an integral part of Mizo culture. Bamboo and cane works are equally of importance in Mizoram.


<br>
<b>Nagaland</b>
        Nagaland is an important part of the colourful culture if India. The arts and crafts of Nagaland include the weaving, basketry, woodwork and jewellery making etc. The Naga people prepare different products using shell and beads, birds’ wings and flowers. Like weaving, pot making is exclusively a woman’s craft. Nagas make earthen pots by hand without the use of wheel. The Naga people also prepare woodcarvings generally associated with the religious beliefs and practices, apart from preparing objects for daily use like utensils etc.


<br>
<b>Tripura</b>
        Tripura has a large population of tribals, thus has a tradition of different kinds of crafts. Handloom is the most important craft of the state. The main feature of Tripura handloom is vertical and horizontal stripes with scattered embroidery in different colours. It is followed by cane and bamboo craft. Popular handicraft items are bamboo screens, lamp stands, tablemats, sitalpati, woodcarving, silver ornaments and other crafts that are practiced. Simplicity is the hallmark of brass and bell metal articles provided in Tripura.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}